.wp-block-wrapper,
.wp-block {
  width: 95%;
  max-width: 800px;
  margin: 0 auto 30px;
}
// .wp-block {
//   margin: 0 auto 30px;
// }

.wp-block-quote,
.wp-block-audio,
.wp-block-video,
.wp-block-quote {
  // width: 95%;
  // max-width: 800px;
  // margin: 0 auto 30px;
  // border: 1px solid #ff0000;
}

.wp-block-cover {
  // margin-bottom: 50px;
}

.wp-block-audio figcaption,
.wp-block-video figcaption {
  // margin-top: 20px;
}
